[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wandb = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
azure-cosmos = "*"
streamlit = "*"
sklearn = "*"
sentence-transformers = "*"
wand = "*"
reportlab = "*"
torchcam = "*"
grad-cam = "*"
rembg = "*"
ipython = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
